.title {
    background-color: lavenderblush;
    border-radius: 30%;
    text-align: center;
    color: blueviolet;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

