.title {
    background-color: rgb(111, 2, 2);
    border-radius: 30%;
    text-align: center;
    color: rgb(255, 233, 34);
    font-style: oblique;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(26, 9, 33);
}

#caption {
    font-size: 6%;
}

a {
    color: black;
}

a:hover {
    color: blueviolet;
}