.title {
    background-color: rgb(111, 2, 2);
    border-radius: 30%;
    text-align: center;
    color: rgb(255, 233, 34);
    font-style: oblique;
    font-weight: bold;
    font-size: 300%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(26, 9, 33);
    font-size: 30%;
    background-color: antiquewhite;
}

#caption {
    font-size: 50%;
    background-color: rgba(255, 228, 196, 0.524);
    font-weight: 200;
    border-color: gray;
}

a {
    color: black;
    border-radius: 13%;
    background-color: rgba(137, 43, 226, 0.413);
}

a:hover {
    color: blueviolet;
}